<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jerajinsolution.file.service.FileMapper">
	
	<insert id="boardFileInsert" parameterType="com.jerajinsolution.file.service.FileDto">
		INSERT INTO tbl_file(fno
					  	   , no
					       , originalName
					       , targetName
					       , folder
					       , fileSize)
		VALUES(seq_file.nextval
		     , #{no}
		     , #{originalName}
		     , #{targetName}
		     , #{folder}
		     , #{fileSize})
	</insert>

</mapper>